

/* mobile device */

@media screen and (max-width :576px) {
  
  /* navBar */
  .nav_Bar {
     margin: 2rem auto; 
    display: flex;
    flex-direction: column;
}

.nav_list li{
  margin-right:1rem;
}



}


/* tab device responsive */

@media screen and (max-width:992px) and (min-width:577px) {

  .nav_Bar{
    margin: 1.5rem 0rem;
    flex-direction: column;
    justify-content: space-between;
  }

  
}


/* desktop device responsive */

@media screen and (max-width :1140px) and (min-width:993px) {

  .nav_Bar{
    margin: 2rem 3rem;
  }
  
} {
  
}