

/* mobile device */

@media screen and (min-width:300px) and (max-width :576px)  {


  /* section_margin class */
  .section_mr{
    margin: 2rem auto;
}



  /* navBar */
  .nav_Bar {
     margin: 2rem auto; 
    display: flex;
    flex-direction: column;
}

.nav_list{
  margin-right:1rem;
}

/* .hero_section */

.hero_section{
  flex-wrap: wrap-reverse;
}


.hero_content{
  text-align: center;
  align-items: center;
  padding: 0px 2rem;
}

.hero_content h2{
  font-size: 2rem;
  margin: 1rem 0rem;
  line-height: 3rem;
 
 
 }

 .hero_content p{
  font-size: 1rem;
  margin-bottom: 1rem;
  
 }


 /* .brand_section */

.brand_section{
  margin: 1rem;
}


.brand_images{
  display: grid;
  grid-template-columns: repeat(4 ,1fr)  ;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  padding: 2rem 1rem;
 
}

}


/* tab device responsive */


@media screen and (min-width:577px) and (max-width:992px) {

  .section_mr{

  margin: 2rem 2rem;
}

  .nav_Bar{
    margin: 1.5rem 0rem;
    flex-direction: column;
    justify-content: space-between;
  }

  /* hero_content */

  .hero_content{
    max-width: 45%;
  }

  .hero_content h2{
    font-size: 2.2rem;

  }


  .brand_images{
  display: grid;
  grid-template-columns: repeat(7 ,1fr);
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
}
  
}

  


/* desktop device responsive */

@media screen and (min-width:993px) and (max-width :1140px) {

  /* section_mr */


.section_mr{

  margin: 2rem 2rem;
}

  .nav_Bar{
    margin: 2rem 3rem;
  }


  .hero_content{
    max-width: 46%;
  }


  /* brand */

  .brand_images{
  display: grid;
  grid-template-columns: repeat(7 ,1fr);
  justify-content: space-between;
  align-items: center;
  gap: 1rem 4rem;
}
  


  
} 